@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
:root {
	--translateZ: '0px';

	--darkmode-1: hsl(300, 10%, 12%);
	--darkmode-2: hsl(300, 15%, 25%);
	--darkmode-3: hsl(300, 5%, 40%);
	--darkmode-text: hsl(300, 0%, 85%);
	--darkmode-text-weight-regular: 400;
	--darkmode-accent: hsl(33, 85%, 60%);
	--darkmode-secondary: #37A9FD;
	--font-family: 'Source Sans Pro', sans-serif;
	--lightmode-1: hsl(0, 0%, 96%);
	--lightmode-2: hsl(0, 0%, 82%);
	--lightmode-3: hsl(300, 0%, 60%);
	--lightmode-shadow: hsla(0, 0%, 65%, 0.35);
	--lightmode-accent: #e18009;
	--lightmode-secondary: #2d95df;
	--lightmode-text: hsl(300, 10%, 20%);
	--lightmode-text-weight-regular: 300;
	--shadow: hsla(0, 10%, 65%, 0.8);
	--font-size: 1.2rem;
	--font-line-height: 1.8rem;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
}

body > * {
	--text-color: var(--lightmode-text);
	--accent-color: var(--lightmode-accent);
	--accent-color-2: var(--darkmode-accent);
	--secondary-color: var(--darkmode-secondary);
	--background-color-1: var(--lightmode-1);
	--background-color-2: var(--lightmode-2);
	--background-color-3: var(--lightmode-3);
	--font-weight-regular: var(--lightmode-text-weight-regular);
}

body.darkmode > * {
	--text-color: var(--darkmode-text);
	--accent-color: var(--darkmode-accent);
	--accent-color-2: var(--lightmode-accent);
	--secondary-color: var(--lightmode-secondary);
	--background-color-1: var(--darkmode-1);
	--background-color-2: var(--darkmode-2);
	--background-color-3: var(--darkmode-3);
	--font-weight-regular: var(--darkmode-text-weight-regular);
}
