@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
:root {
	--translateZ: '0px';

	--darkmode-1: hsl(300, 5%, 10%);
	--darkmode-fade-1: hsla(300, 10%, 12%, 0.0);
	--darkmode-2: hsl(300, 15%, 25%);
	--darkmode-3: hsl(300, 5%, 40%);
	--darkmode-4: hsl(300, 15%, 15%);
	--darkmode-text: hsl(300, 0%, 85%);
	--darkmode-text-weight-regular: 400;
	--darkmode-accent: hsl(33, 85%, 60%);
	--darkmode-secondary: #37A9FD;
	--font-family: 'Helvetica', 'Source Sans Pro', sans-serif;
	--lightmode-1: hsl(0, 0%, 96%);
	--lightmode-fade-1: hsla(0, 0%, 96%, 0.0);
	--lightmode-2: hsl(0, 0%, 82%);
	--lightmode-3: hsl(300, 0%, 60%);
	--lightmode-4: hsl(0, 0%, 90%);
	--lightmode-shadow: hsla(0, 0%, 65%, 0.35);
	--lightmode-accent: #e18009;
	--lightmode-secondary: #2d95df;
	--lightmode-text: hsl(300, 10%, 20%);
	--lightmode-text-weight-regular: 300;
	--shadow: hsla(0, 10%, 65%, 0.8);
	--font-size: 1rem;
	--font-line-height: 1.5rem;
	--darkmode-error: hsl(0, 60%, 45%);
	--lightmode-error: hsl(0, 79%, 35%);
}	
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
}

body > * {
	--text-color: var(--lightmode-text);
	--accent-color: var(--lightmode-accent);
	--accent-color-2: var(--darkmode-accent);
	--secondary-color: var(--darkmode-secondary);
	--error-color:var(--lightmode-error);
	--background-color-1: var(--lightmode-1);
	--background-fade-1: var(--lightmode-fade-1);
	--background-color-2: var(--lightmode-2);
	--background-color-3: var(--lightmode-3);
	--background-color-4: var(--lightmode-4);
	--font-weight-regular: var(--lightmode-text-weight-regular);
}

body.darkmode > * {
	--text-color: var(--darkmode-text);
	--accent-color: var(--darkmode-accent);
	--accent-color-2: var(--lightmode-accent);
	--secondary-color: var(--lightmode-secondary);
	--error-color:var(--darkmode-error);
	--background-color-1: var(--darkmode-1);
	--background-fade-1: var(--darkmode-fade-1);
	--background-color-2: var(--darkmode-2);
	--background-color-3: var(--darkmode-3);
	--background-color-4: var(--darkmode-4);
	--font-weight-regular: var(--darkmode-text-weight-regular);
}

body > * {
	--gradient-fade-1: linear-gradient(180deg, var(--background-color-1) 50%, var(--background-fade-1) 100%)
}
option{
	color:var(--text-color);
	background-color: var(--background-color-2);
}